<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEATTING LOAD/COOLING LOAD</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <h1>WELCOME TO HEATTING LOAD/COOLING LOAD PREDICTION APP</h1>
   
    <h2 style="text-align: center;">PLEASE ENTER THE PARAMETERS TO PREDIT THE LOAD

    </h2>
    <form action="/result" method="post">
    
        <input type="number"  name="X1" step="0.01"  required  placeholder="Relative compactness"><br><br>

        <input type="number" name="X2" step="0.01" required placeholder="Surface area in &#13217" ><br><br>
    
        <input type="number"   name="X3" step="0.01" required placeholder="Wall area in &#13217"><br><br>

 
        <input type="number"  name="X4" step="0.01" required placeholder="Roof area in &#13217"><br><br>

     
        <input type="number"   name="X5" step="0.01" required placeholder="Roof area in &#13217"><br><br>


        <input type="number"  name="X6" step="0.01" required placeholder="Orientation"><br><br>

      
        <input type="number"  name="X7" step="0.01" required placeholder="Glazing area in &#13217"><br><br>


        <input type="number"  name="X8" step="0.01" required placeholder="Glazing area distribution"><br><br>
        <br>
                
        <input  style="height:15mm; width:83mm" type="submit" value="PREDICT">
        
            
      
            
    </form >
    <br>
    <br>
    <h4>PROJECT CONTRIBUTED BY : SANTHOSH </h4>
        
    
  
</body>

</html>
